.App {
  text-align: center;
}

h1 {
  font-size: 2fr;
}

.feedProfileImage, .profile-img {
  width: 10%;
  border-radius: 30px;
}

.feedPostPic {
  width: 40%;
  border: 2px solid black;
  border-radius: 10px;
}

ul {
  list-style: none;
}